<!DOCTYPE html>
<html lang="en">
  <head>
    <title>COVID-19 Cough Survey</title>

    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="https://coughtest.online/css/survey.css" />
    <link rel="stylesheet" href="https://coughtest.online/css/modern.css" />
  </head>
  <body>
    <div id="container">
      <div class="notFoundError">
        <h1>404 <span style="display: block;">Survey Not Found!</span></h1>
      </div>

      <footer class="footer">© 2020 Cough Test Online</footer>
    </div>
  </body>
</html>
