<!DOCTYPE html>
<html lang="en">
  <head>
    <title>COVID-19 Cough Survey</title>

    <meta name="viewport" content="width=device-width" />

    <script src="https://unpkg.com/jquery"></script>
    <script src="https://surveyjs.azureedge.net/1.7.2/survey.jquery.js"></script>
    <script src="https://surveyjs.azureedge.net/1.7.2/surveyjs-widgets.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/RecordRTC/5.5.9/RecordRTC.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.4.3/jspdf.plugin.autotable.min.js"></script>

    <link rel="stylesheet" href="css/survey.css"/>
    <link
      href="https://surveyjs.azureedge.net/1.7.2/modern.css"
      type="text/css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="surveyElement" style="display: inline-block; width: 100%;"></div>
    <div id="surveyResult"></div>

    <script>
      var recorderResult = null;
    </script>
    <script type="text/javascript" src="js/survey.js"></script>
    <script type="text/javascript" src="js/recorder.js"></script>
  </body>
</html>
