<!DOCTYPE html>
<html lang="en">
  <head>
    <title>COVID-19 Cough Survey</title>
    <meta name="viewport" content="width=device-width"></meta>

    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="https://coughtest.online/css/modern.css" />
  </head>
  <body>
    <div id="container">
      <div class="notFoundError">
        <div class="platform">
          <span>Supported Platforms & Browsers</span>
        </div>
          
        <div class="supportedPlatforms">
          <span>Windows 7-10: Chrome ≥ v46 and Firefox ≥ v22</span>
          <span>Linux: Chrome ≥ v46 and Firefox ≥ v22</span>
          <span>macOS ≥ v10.9: Chrome ≥ v46 and Firefox ≥ v22</span>
          <span>Android: Chrome ≥ v46 and Firefox ≥ v22</span>
          <span>iOS ≥ v13: Safari ≥ v13</span>
        </div>
      </div>

      <div style="height: 2rem;"></div>
      <footer class="footer">© 2020 Cough Test Online</footer>
    </div>
  </body>
</html>
