<!DOCTYPE html>
<html lang="en">
  <head>
    <title>COVID-19 Cough Survey</title>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/modern.css" />
  </head>
  <body>
    <div id="container">
      <div class="notFoundError">
        <h1>404 <span style="display: block">Survey Not Found!</span></h1>
      </div>

      <div style="height: 2rem"></div>
      <footer class="footer">
        <a class="copyright" href="/">© 2020 Cough Test Online</a>
        <span class="contactUs"
          >Contact Us:
          <div class="emailAdd">
            <img src="assets/message.svg" width="20px" height="20px" />
            <a
              class="mailTo"
              href="mailto:covidcoughglobal@gmail.com?subject=Feedback"
              >covidcoughglobal@gmail.com</a
            >
          </div>
        </span>
      </footer>
    </div>
  </body>
</html>
